<h1>Tiny's Tweets</h1>
  <ul>
    {{#each}}
    <li>{{#link-to 'tweet' this.id}}{{body}}{{/link-to}}</li>
    {{/each}}
  </ul>

  <p>
    <a href="#" {{action 'sortByDate'}}>Sort by date</a>
  </p>
  <h3>Make a New Tweet</h3>
  <form>
    <div class="form-group">
      {{textarea id="tweetbody" class="form-control" maxlength="141" placeholder="Type tweet here..." rows="2" value=tweetbody}}
    </div>

    <div class="form-group">
      {{input id="date" class="form-control" placeholder="Today's date" value=date}}
    </div>

    <button class="btn btn-primary" {{action 'newTweet'}}>New</button>

  </form>
